* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  background-color: rgb(191, 165, 204);
  color: #fff;
}

h2 {
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.container {
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #fff;
  color: #333;
  font-weight: bold;
}

input:focus {
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

input::placeholder {
  color: #fff;
}

button {
  padding: 13px;
  width: 300px;
  border: none;
  background-color: #000;
  color: #fff;
  margin-top: 30px;
  transition: all 0.5s;
}

button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
